.clacbutton {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  position: relative;

  button {
    height: 60px;
    width: 200px;
    margin: 2rem;
    border-radius: 5px;
  }

  .custom-shape-divider-bottom-1669281746 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1669281746 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom-1669281746 .shape-fill {
    fill: #151339;
  }

  button:disabled {
    background-color: none;
    border: 1px solid grey;
  }

  button:not(:disabled) {
    transition: 0.5;
    background-color: rgb(21, 19, 57);
    color: whitesmoke;
  }

  button:not(:disabled):hover {
    transform: scale(1.1);
    -webkit-text-stroke: 1px rgb(21, 19, 57);
    text-stroke: 1px rgb(21, 19, 57);
    transition: 0.3s;
    color: #ffff00;
    text-shadow: 2px 2px #fcdb33;
    box-shadow: 6px 6px #fcdb33;
    background-color: rgb(21, 19, 57);
  }
}
