.emojis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-column: 1/2;
  grid-row: 2/5;

  .falafel-container {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .emoji_container {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .scale {
      animation-name: scaling;
      animation-duration: 4s;
      animation-fill-mode: forwards;
    }

    @keyframes scaling {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(2);
      }
    }

    .falafel {
      margin-top: 5rem;
      animation-name: scalingFalafel;
      animation-fill-mode: forwards;
      animation-duration: 4s;
    }

    @keyframes scalingFalafel {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(15.5);
      }
    }

    .oat {
      animation-name: scalingOat;
      animation-fill-mode: forwards;
      animation-duration: 4s;
    }

    @keyframes scalingOat {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(3.6);
      }
    }

    .potato {
      animation-name: scalingPotato;
      animation-fill-mode: forwards;
      animation-duration: 4s;
    }

    @keyframes scalingPotato {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(3.2);
      }
    }
  }

  h4 {
    text-align: center;
  }

  .tid {
    animation-name: tid;
    animation-duration: 30s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  @keyframes tid {
    0% {
      transform: scaleY(1);
      background-color: limegreen;
    }

    50% {
      background-color: yellow;
    }

    100% {
      transform: scaleY(0);
      background-color: red;
    }
  }
}
