@use "./soMeContainer.scss";
@use "./soMeArticle.scss";
@use "./results.scss";
@use "./calcbutton.scss";
@import url("https://use.typekit.net/ewa3uty.css");
@use "./header.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p {
  line-height: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
