.graphics {
  width: 60vh;
  position: absolute;
  top: 0;
  right: 0;
}

.custom-shape-divider-top-1669289604 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1669289604 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 101px;
}

.custom-shape-divider-top-1669289604 .shape-fill {
  fill: whitesmoke;
}
