header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;

  section {
    inline-size: 45vw;
    overflow-wrap: break-word;
  }

  p,
  h1 {
    margin: 0;
  }

  p {
    padding-bottom: 1rem;
  }

  h1 {
    padding-bottom: 2rem;
  }

  background: rgb(218, 238, 223);
  .bold {
    font-weight: bold;
  }
}
