header {
  // margin-top: 22%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;

  section {
    inline-size: 45vw;
    overflow-wrap: break-word;
  }

  p,
  h1 {
    margin: 0;
  }

  p {
    padding-bottom: 1rem;
  }

  h1 {
    padding-bottom: 2rem;
    text-align: center;
  }

  .bold {
    font-weight: bold;
  }

  @media (max-width: 800px) {
    h1 {
      margin-top: 30%;
    }
  }

  @media (min-width: 800px) {
    h1 {
      margin-top: 10%;
      font-size: 7rem;
      text-shadow: 5px 5px #fcdb33;
    }
  }
}
