.soMeContainer {
  border-top: 1px solid rgb(21, 19, 57);
  margin-left: 5%;
  margin-right: 5%;

  h2 {
    padding-top: 15vh;
    margin-left: 8%;
  }

  .article_container {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    grid-template-columns: repeat(auto-fit, minmax(210px, 250px));
    gap: 2rem;
    padding: 2rem;
    // background-color: #ffffff;
    justify-content: center;
  }

  @media (min-width: 800px) {
    h2 {
      font-size: 3.5rem;
      // text-shadow: 5px 5px #fcdb33;
    }
  }
}
