.some-article {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 4px 6px 15px #b7b8ba;
  font-family: gambado-sans, sans-serif;
  font-weight: 700;
  font-style: normal;

  h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  p {
    text-align: center;
  }

  .hours {
    width: 16%;
  }

  .slidecontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    p {
      margin: 0;
    }
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 10px;
      border-radius: 5px;

      background: rgb(21, 19, 57);
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 25px;
      border-radius: 10%;
      background: url("../public/lightning-icon.svg");
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .slider::-webkit-slider-thumb:hover {
      transition: 0.3s;
      transform: scale(1.4);
    }

    .slider::-moz-range-thumb {
      width: 15px;
      height: 25px;
      border-radius: 10%;
      background: url("../public/lightning-icon.svg");
      background-repeat: no-repeat;
      cursor: pointer;
      border: none;
    }
  }

  .article-top {
    display: flex;
    z-index: 2;
    justify-content: center;
    div {
      align-self: center;
    }
  }
}
