.soMeContainer {
  h2 {
    margin-top: 15vh;
    margin-left: 11.4vw;
  }
  .article_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    gap: 2rem;
    padding: 2rem;
    background-color: #ffffff;
    justify-content: center;
  }
}
